@import "reset";
@import "./../jqvmap-master.1.5.1/jqvmap-master/dist/jqvmap.min.css";

* {
  box-sizing: border-box;
}

#vmap {
  width: 100%;
  height: 100%;
}

.map-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(bg2.jpg) center/cover no-repeat;
    opacity: 1;
  }
}

.weather-info-container {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background: #fffe;
  border-top-right-radius: 10px;
}

.initial-app-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.app-name {
  text-align: left;
  font: 700 32px "Crimson Pro", serif;
  margin: 15px 20px 10px;
  color: rgb(27, 27, 27);
}

.app-description-heading {
  font: 22px/1.2 "Crimson Pro", serif;
  margin: 0 20px 10px;
  color: rgb(27, 27, 27);
}

.app-description-text {
  font: 18px/1.4 "Crimson Pro", serif;
  margin: 20px;
  justify-self: flex-end;
  color: rgb(41, 41, 41);
  text-align: center;
}
